 /*Main section*/

 .main-banner{
    background: url(../Img/main-banner.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
 }

.site-section{
    padding: 6.2rem 1.87rem;
}

.site-section>div{
    width: 50%;
    float: left;
}

.site-section-image{
    text-align: right;
    width: 350px;
    margin-left: 250px;
}

.site-section-welcome{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem7;
    letter-spacing: 2px;
    color: #9abaed;
}

.site-section-introduction{
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #05364E;
}

.site-section-position{
    color: #05364E;
    font-size: 1.5rem;
    font-weight: 300px;
    margin-bottom: 1.25rem;
}

.site-section-social-networks a{
    color: #8FA1AA;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}


.site-section-social-networks a:hover i{
    color: #1C44E4;
}

.site-section-action{
    margin-top: 1.87rem;
}


    /*Statistics*/
.statistics {
    padding-top: 0.625rem;
}

.statistics-item {
    display: inline-block;
    width: 150px;
    background-color: #F8FAFF;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 1.25rem;
}

.statistics-number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient( 90deg, red 0%, #0c18f5 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.statistics-title{
    font-size: 1rem
    color: #797979;
    font-weight: 300;
}


    /* About me */

.about-me{
    padding-top: 6.25rem;
}

.about-me > div{
    float: left;
    width: 50%;
}

.about-me-image img{
    margin-top: -40px;
    width: 90%;
    width: 350px;
}

.about-me-info{
    margin-top: 1.75rem;
}

.about-me-description{
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}

.about-me-action{
    margin-top: 2.5rem;
}


    /* Service-section  */

.services{
    padding-top: 6.25rem;
}

.service-card{
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card-title{
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.service-card-description{
    font-size: 0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #797979;
}

.service-card-link{
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
}

.service-card:hover{
    background-color: #5f30ff;
}

.service-card:hover .service-card-title,
.service-card:hover .service-card-description,
.service-card:hover .service-card-link{
    color: #95f238;
}


    /* My clients */

.clients{
     padding-top: 6.25rem;
}

.client-item >div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item-img img{
    width: 100%;
}

.client-items-info{
    padding-top: 3.12rem;
    padding-left: 3.12rem;
}

.client-item-name{
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.client-item-position{
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item-review{
    font-size: 0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item-rate{
    color: #ffd805;
}

.disabled{
    color: #aeb98e;
}


    /* Portfolio */

.portfolio{
    padding: 6.25rem 0;
}

.portfolio-filters{
    list-style: none;
    padding-left: 0;
    margin-top: 3.12rem;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio-filters li.active{
    color: #1C44E4;
}


.portfolio-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}

.portfolio-items{
    position: relative;
    margin-top: 3.12rem;
}

.portfolio-item-img{
    width: 100%;
    opacity: 0.6;

}

.portfolio-item-img:hover{
    opacity: 1;
    border-radius: 26px;
}

.portfolio-item-1{
    padding-left: 0;
    transition: width 2s, height 4s;
}

.portfolio-item-1:hover{
    width: 550px;
    height: 860px;

}
.portfolio-item-2{
    position: absolute;
    right: 0;
    top: 0;
    transition: width 2s, height 4s;
    border-radius: 50%;
}

.portfolio-item-2:hover{
    width: 530px;
    height: 290px;
}

.portfolio-item-3{
    position: absolute;
    right: 0;
    top: 322px;
    transition: width 2s, height 4s;
}

.portfolio-item-3:hover{
    width: 530px;
    height: 520px;
}

.portfolio-item-info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: #ffffff;
    visibility: hidden;
}

.portfolio-item-info a{
    color: white;
    text-decoration: none;
    z-index: 1;
}

.portfolio-item:hover .portfolio-item-overlay{
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover.portfolio-item-info{
    visibility: visible;
    bottom: 24px;
    left: 60px;
}


/* Blog section */

.blog{
    padding-top: 100px;
    width:100%;
}

.blog-items{
    margin-top: 50px;
}

.blog-item{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover{
    box-shadow: 0px 10px 20px rgba(252, 2, 56, 0.1);
    cursor: pointer;
}

.blog-item:hover .blog-item-info{
    background-color: rgb(237, 241, 241)
}

.blog-item-img img{
    width: 100%;
    opacity: 0.5;
    transition: width 2s, height 4s;
}

.blog-item-img img:hover{
    opacity: 1;
    border-radius: 26px;
    width: 330px;
    height: 280px;
}

.blog-item-info{
    background-color: #f8faff;
    padding: 30px;
    color: #797979;
}

.blog-item-main-info span{
    font-size: 14px;
    margin-right: 40px;
    font-weight: lighter;
}
.blog-item-info i{
    margin-right: 6px;
}

.blog-item-title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364d;
    font-weight: 700;
}

.blog-item-description{
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item-learn-more{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(to right, #1345e6 0%,#ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
}

.blog-item-learn-more:hover{
    background-position: right center;
}


/* Partners */

.partners{
    padding-top: 100px;
}

.partner{
    display: inline-block;
    padding: 0 30px;
}